{% extends "page.html" %}

{% block headextra %}
<script type="text/javascript">
post_tags = [
{% for page in section.pages %}
	{"slug":{{page.slug | json_encode() | safe}},
	 "tags":{{page.taxonomies.restaurant_tags | json_encode() | safe}}},
{% endfor %}
];

tags = [
{% for tag, fancy in config.extra.restaurant_tags_nice_names %}
	"{{tag}}",
{% endfor %}
];

$(document).ready(function(){
	$(".filter-checkbox").change(function(e) {
		post_tags.forEach(function(item) {
			$("#listing-"+item.slug).show();
		});

		tags.forEach(function(tag) {
			if($("#filter-"+tag).is(":checked")) {
				console.log(tag);
				post_tags.forEach(function(item) {
					if (!item.tags.includes(tag)) {
						$("#listing-"+item.slug).hide();
					}
				});
			}
		});
	});
});
</script>
{% endblock %}

{% block content %}
	<div id="filter-box">
		Filter only those restaurants that provide...
		<ul>
			{% for tag, fancy in config.extra.restaurant_tags_nice_names %}
				<li><input type="checkbox" id="filter-{{tag}}" class="filter-checkbox">&nbsp;&nbsp;<label for="filter-{{tag}}">{{fancy}}</label></li>
			{% endfor %}
		</ul>
	</div>
	{% for page in section.pages | sort(attribute="title") %}
		<div class="restaurant-listing" id="listing-{{page.slug}}">
			<div class="inner">
				<a href="{{page.extra.link}}"><h2>{{page.title}}</h2> <i class="fa fa-fw fa-link"></i></a>
				<hr/>
				<div class="row">
					<div class="col-4">
						Open {{page.extra.hours | safe}}
					</div>
					<div class="col-4">
						Located at {{page.extra.address}} <br/>
						<a href="https://www.google.com/maps/place/{{page.extra.address}},+Minneapolis,+MN+55409/" target="_blank">Maps</a>
					</div>
					<div class="col-4">
						<ul>
							{% for tag in page.taxonomies.restaurant_tags %}
								<li>{{config.extra.restaurant_tags_nice_names | get(key=tag)}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				{% if page.summary %}
				<div class="extra-info">
					<span class="summary">&rarr; {{page.summary | safe}}</span>
				</div>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock %}